.description{
    padding-top: 8em;
}
#profile{
    height:20em;
    width: 15em;
}
.about-nav{
    padding-top:2em;
    padding-bottom: 5em;
    font-family: 'Karla', sans-serif;
}
.about-nav a:link, a:visited{
    text-decoration: underline;
    color:#4c5a0d;
}
.description h1, .main-content h1, .more h3{
    font-family: 'Inconsolata', monospace;
    color: #4c5a0d;
}
.description p, .main-content p, .more li{
    font-family: 'Karla', sans-serif;
    font-size: 17px;
}
.nav-bar{
    background-image: linear-gradient(#f28093,#f49445);
}
.nav-bar a:link, .nav-bar a:visited{
    text-decoration: none;
    color: #f6f1ee;
}