@font-face {
    font-family: 'dm';
    src: url(DMSerifDisplay-Regular.ttf);
}
@font-face {
    font-family: 'karla';
    src: url(Karla-Regular.ttf);
}
@font-face {
    font-family: "karlaBold";
    src: url(Karla-Medium.ttf);
}
@font-face {
    font-family: 'karlaItalic';
    src: url(Karla-Italic.ttf);
}
p{
    font-family: 'karla', sans-serif;
}
h1, h4, h2, h3{
    font-family: 'dm', 'Times New Roman', Times, serif;
}

.container-fluid{
    background-color: #f7efe5;
    padding:0;
}

.bigbutton:link,.bigbutton:visited{
    font-family: 'karla';
    background: transparent;
    border: 2px solid #a3a3d6;
    padding:1em 3em 1em 3em;
    border-radius: 15px;
    color: #f7efe5;
    text-decoration: none;
}
.bigbutton:hover{
    background-color:#a3a3d6 ;
    color: #1c2020;
    text-decoration: none;
}
.main-content{
    padding-top: 6em;
    
    background-color: #161a1a;
}
.title h1{
    font-family: 'dm', 'Times New Roman', Times, serif;
    font-size: 4em;
    padding-bottom: 1rem;
    color: #f7efe5;
}

.main-content p{
    font-size:1.5em;
    color: #f7efe5;
    margin-bottom: 2em;
}
.main-content img{
    position:absolute;
    bottom: 10em;
    /* left: 2em; */
}

#summary{
    z-index: 10;
    color: #f7efe5;
    background-color: #1c2020;
    padding-top: 3em;
    margin-bottom: 3em;
}
#summary section{
    padding-bottom: 2em;
}
#summary .col-6{
    z-index: 10; 
    padding-bottom: 6em;
    padding-right:4em;
}

#color-block1{
    background-color:#D5A021;
    height: 10em;
    width:25em;
    position: relative;
    top: 12em;
    right: 32em;
    z-index: 5;
}
#rootcause{
    color: #1c2020;
}
#rootcause img{
    width: 100%;
    margin-bottom: 3em;
}
.yellow-highlight{
    background-color:#D5A021;
    padding: 2px;
}
.quotes{
    display: flex;
    justify-content: space-around;
}
.quoteblock{
    margin: 1em;
    width: 40%;
    text-align: center;
    background-color: #fdfaf7;
    padding: 2em;
    box-shadow: 2px 2px 4px #D5A021;
}
.methodologies{
    display: flex;
    justify-content: space-between;
    font-family: 'karla';
}
.methblock{
    width: 40%;
    margin-right: 2em;
}
