@font-face {
    font-family: 'dm';
    src: url(DMSerifDisplay-Regular.ttf);
}
@font-face {
    font-family: 'karla';
    src: url(Karla-Regular.ttf);
}
@font-face {
    font-family: "karlaBold";
    src: url(Karla-Medium.ttf);
}
@font-face {
    font-family: 'karlaItalic';
    src: url(Karla-Italic.ttf);
}
.main-content{
    padding-top: 5em;
    height: 40em;
    background-color: #17350d;
}
.main-content img{
    position: relative;
    left: 9em;
    bottom: 7em;
    z-index: 1;
}
.container-fluid{
    background-color: #f0ede6;
}
.big-words{
    margin-left:4em;
    font-family: 'dm';
    color: #ffffff;
    background-size: 100%;
    margin-right:5em;
}
.big-words h1{
    font-size: 50px;
    padding-bottom: 2rem;

}
.big-words h6{
    font-size: 24px;
}

.down-nav{
    background-color: #17350d;
    padding-bottom: 1em; 
}
h1{
    font-family: 'dm';
}
.tags img{
    height:1em;
    width:1em;
 
}
.nav-bar{
    z-index: 10;
}
#pixelcomp{
    position: relative;
    top: 6em;
    left: 2em;
}
/* .nav-bar a:link, .nav-bar a:visited{
    text-decoration: none;
    color: #f6f1ee;
} */
.learnwithme{
    background-color: #FFC6B6;
    padding:1em;
}
.learnwithme p{
    width: 80%;
    font-family: 'dm' , 'Times New Roman', Times, serif;
    margin-left:2em;
    font-size: 1.6em;
    color:#E73D00;
}
.learnwithme a, .learnwithme a:visited {
    width:80%;
    font-family: 'karla';
    margin-left:4.8em;
    /* padding-bottom: 2em;  */
    color:#E73D00;
}
#filler0{
    background-color: #E73D00;
}
#filler0 img{
    width:100%;
    height:100%;
}
#filler0 h3{
    position: relative;
    bottom: 6.5em;
    left: 5.5em;
    font-family:'dm' , 'Times New Roman', Times, serif;
    color: #f0ede6;
}

/* #filler0 a:link, #filler0 a:visited{
    color:#f0ede6;
} */
.project a,.project a:visited{
    font-family:'dm' , 'Times New Roman', Times, serif;
    color: #204E14;
}
.project p{
    font-family: 'karlaBold';
}
.project{
    padding-top: 1.5em;
    border-bottom:1px solid #204E14;
}
.skills{
    color:#E73D00;
    font-family: 'karla';
}
#project-section{
    margin-top:6em;
}
