@font-face {
    font-family: 'dm';
    src: url(DMSerifDisplay-Regular.ttf);
}
@font-face {
    font-family: 'karla';
    src: url(Karla-Regular.ttf);
}
@font-face {
    font-family: "karlaBold";
    src: url(Karla-Medium.ttf);
}
@font-face {
    font-family: 'karlaItalic';
    src: url(Karla-Italic.ttf);
}
.main-content{
    padding-top: 5em;
    height: 40em;
    background-color: #161a1a;
    /* cerulian: #1282A2; */
}
.main-content img{
    position: relative;
    left: 9em;
    bottom: 7em;
    z-index: 1;
}
.container-fluid{
    background-color: #f7efe5;
}
.big-words{
    margin-left:4em;
    font-family: 'dm';
    color: #a3a3d6;
    background-size: 100%;
    margin-right:5em;
}
.big-words h1{
    font-size: 50px;
    padding-bottom: 2rem;

}
.big-words h6{
    font-size: 24px;
}

/* .down-nav{
    background-color: #17350d;
    padding-bottom: 1em; 
} */
h1{
    font-family: 'dm';
}
.tags img{
    height:1em;
    width:1em;
 
}
.nav-bar{
    z-index: 10;
}
#mainprofile{
    position: absolute;
    top: 1em;
    left: -2em;
    background-color: #a3a3d6;

}
/* .nav-bar a:link, .nav-bar a:visited{
    text-decoration: none;
    color: #f6f1ee;
} */
.learnwithme{
    background-color: #f7efe5;
    padding:1em;
}

.learnwithme p{
    width: 80%;
    font-family: 'dm' , 'Times New Roman', Times, serif;
    margin-left:2em;
    font-size: 1.6em;
    color:#232B2B;
}
.learnwithme a, .learnwithme a:visited {
    font-family: 'karlaBold';
    margin-left:4.8em;
    padding: .75em 1.5em .75em 1.5em;
    background-color: #D5A021;
    border-radius: 3px;
    text-decoration: none;
    color:#1c2020;
    position: relative;
    bottom: .5em;
    
}
.learnwithme a:hover{
    box-shadow: 3px 3px 5px #c0c5c5;
}
.whatsux{
    background-color:#1c2020
    /* padding:1em; */
}
.whatsux h2, .whatsux p{
    width: 80%;
    font-family: 'dm' , 'Times New Roman', Times, serif;
    /* margin-left:2em; */
    color:#f7efe5;
}
.whatsux h2{
    margin-top: 2em;
    margin-left:2em;
}
.whatsux p{
    font-size: 1.6em;
    margin-left: 2.5em;
    margin-bottom: 2em;
}
#filler0{
    background-color: #D5A021;
}
#filler1{
    background-color: #a3a3d6;
}
#filler0 img{
    width:100%;
    height:100%;
}


/* #filler0 a:link, #filler0 a:visited{
    color:#f0ede6;
} */
.project a,.project a:visited{
    font-family:'dm' , 'Times New Roman', Times, serif;
    color: #1c2020;
}
.project p{
    font-family: 'karlaBold';
}
.project h1{
    font-family: "dm";
    font-size: 45px;
}
.project{
    padding-top: 1.5em;
    border-bottom:1px solid #232B2B;
}
.skills{
    color:#D5A021;
    font-family: 'karla';
}
#project-section{
    margin-top:2em;
}
#profile-background{
    background-color: #a3a3d6;
    position: relative;
    left:5em;
    top: 3em;
    width: 18em;
    height: 23em;
}