@font-face {
    font-family: 'playfairBold';
    src: url(PlayfairDisplay-VariableFont_wght.ttf);
    font-weight: 800;
}
@font-face {
    font-family: 'playfair';
    src: url(PlayfairDisplay-VariableFont_wght.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'karla';
    src: url(Karla-Regular.ttf);
}
@font-face {
    font-family: "karlaBold";
    src: url(Karla-Medium.ttf);
}
@font-face {
    font-family: 'karlaItalic';
    src: url(Karla-Italic.ttf);
}
.text{
    font-family: 'karla', Arial, Helvetica, sans-serif;
}
.heading{
    font-family: 'playfairBold', 'Times New Roman', Times, serif;
}
.title{
    font-family: 'playfair', 'Times New Roman', Times, serif;
}
.main-content{
    padding-top: 5em;
    height: 40em;
    background-color: #1c2020;
    /* cerulian: #1282A2; */
}
.main-content img{
    position: relative;
    left: 9em;
    bottom: 7em;
    z-index: 1;
}
.container-fluid{
    background-color:#1c2020;
}
.big-words{
    margin-left:4em;
    font-family: 'playfairBold', 'Times New Roman', Times, serif;
    color: #f7efe5;
    background-size: 100%;
    margin-right:5em;
}
.big-words h1{
    font-size: 50px;
    padding-bottom: 2rem;

}
.big-words h6{
    font-size: 24px;
}

.tags img{
    height:1em;
    width:1em;
 
}
.nav-bar{
    z-index: 10;
}
#mainprofile{
    position: absolute;
    top: 1em;
    left: -2em;
    background-color: #a3a3d6;

}

.learnwithme{
    background-color: #f7efe5;
    padding: 3em 5em 3em 5em;
    
}

.learnwithme p{
    width: 90%;
    font-size: 1.6em;
    color:#232B2B;
}

.whatsux{
    background-color:#f7efe5;
    padding:5em 0 4em 0;
}
.whatsux h2, .whatsux p{
    width: 80%;
    /* margin-left:2em; */
    color:#1c2020;
}
.whatsux h2{
    margin-top: 2em;
    margin-left:2em;
}
.whatsux p{
    font-size: 1.6em;
    margin-left: 2.5em;
}
#filler0{
    background-color: #D5A021;
    display: flex;
    align-items: center;
    justify-content: center;
}
#filler1{
    background-color: #a3a3d6;
    display: flex;
    align-items: center;
    justify-content: center;
}
#filler0 img{
    width:100%;
    height:100%;
}


/* #filler0 a:link, #filler0 a:visited{
    color:#f0ede6;
} */
.project a,.project a:visited{
    color: #f7efe5;
    text-decoration: none;
}
.project a:hover{
    color:#a3a3d6;

}

.project p{
    font-family: 'karlaBold';
    padding-left:10%;
  
}
.project h2{
    font-size: 45px;
    padding-left:10%;
    
}   

.project{
    color: #f7efe5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#292b2b;
    margin-bottom: 3em;
    padding-top: 2em;
    padding-bottom:2em;
    border-radius: 16px;
}
.project:hover{
    color: #a3a3d6;
}
#project-section{
    margin-top:5em;
}
#profile-background{
    background-color: #a3a3d6;
    position: relative;
    left:5em;
    top: 3em;
    width: 18em;
    height: 23em;
}
footer{
    background-color: #1c2020;
    height: 15em;
    padding-left: 1em;
}
footer img{
    height: 2em;
    width:2em;
    margin: .5em;
}
#logo{
    margin-top:4em;
    margin-bottom: 2em;
    width: 12em;
    height:4.5em;
}
footer .col-3{
    text-align: center;
}
#working-on{
    background-color: #1c2020;
    color: #f7efe5;
    padding: 3em 0 3em 0;
    padding-left:5em; 
}
#working-on h2{
    font-size: 3.5em;
}
#working-on div{
    text-align: center;
}
.proj-imgs{
    height: 12em;
    width: 12em;
    margin: 1em 1em 1em 3em;
    border-radius: 8px;
}
.projnav{
    font-family: 'karla';
   background: transparent;
   border: 2px solid #a3a3d6;
   padding:1em 3em 1em 3em;
   border-radius: 15px;
   color: #f7efe5;
   text-decoration: none;
}
.projnav:hover{
    background-color:#a3a3d6 ;
    color: #1c2020;
    text-decoration: none;
}
#filler0 img{
    border-radius: 3px;
    height: 80%;
    width:85%;
}
.note{
    font-size: .75em;
}
.alert h1, .alert p{
    color: #f7efe5;
}
.alert p{
    font-family: 'karlaBold';
}