.nav-bar{
    position: fixed;
    width: 100%;
    height:4em;
    font-family: 'Inconsolata', monospace;
    background-color: #121212;
}
.nav-buttons{
    padding-top: 1em;
}
#linkedin{
    width: 2em;
    height: 2em;
}
nav > .col-8{
    padding-left: 2em;
}
.nav-bar a:hover{
    text-decoration: underline;
}
.nav-bar a:link, .nav-bar a:visited{
    text-decoration: none;
    color: #f6f1ee;
}
