@font-face {
    font-family: 'dm';
    src: url(DMSerifDisplay-Regular.ttf);
}
@font-face {
    font-family: 'karla';
    src: url(Karla-Regular.ttf);
}
@font-face {
    font-family: "karlaBold";
    src: url(Karla-Medium.ttf);
}
@font-face {
    font-family: 'karlaItalic';
    src: url(Karla-Italic.ttf);
}
.nav-bar{
    z-index: 10;
}
.container-fluid{
    background-color: #F7EFE5;
}
a:link, a:visited{
    color:#D5A021;
    font-family: 'karlaBold',Arial, Helvetica, sans-serif;
}
.main-content{
    padding-top: 6em;
    padding-bottom: 6em;
    margin-bottom: 5em;
}
.title h1{
    font-family: 'dm', 'Times New Roman', Times, serif;
    font-size: 4em;
    padding-bottom: 1rem;
    color: #1c2020;
}
.title{
   margin-left: 6em;
}
.main-content p{
    font-size:1.5em;
    color: #282828;
}
.main-content img{
    z-index: 5;
    position:absolute;
    bottom: 12em;
}
#summary{
    background-color: #a3a3d6;
    margin-top:2em;
}
#summary-details{
    background-color: #a3a3d6;
    padding-top: 3em;
    padding-bottom: 3em;
}
#primary-roll{
    border-left: 1px solid black;
    border-right: 1px solid black;
}
h4{
    margin: 1em 1em 1em 0em;
    padding-left: .5em;
    font-family: 'dm' ,'Times New Roman', Times, serif;
}
p{
    font-family: 'karla', Arial, Helvetica, sans-serif;
}
h1{
    font-family: 'dm', 'Times New Roman', Times, serif;
}
.breakdowns{
    width:100%;
    padding: 0px;
}
#all-breakdowns{
    padding: 0px; 
}
#section-nav{
    background-color: #3843d0;
    height: 2em;
    margin-bottom: 3em;
}
#section-nav a{
    color:#ffffff;
    text-decoration: none;
}
#section-nav a:hover{
    text-decoration: underline;
}
.position-sticky{
    top:4em;
    z-index: 20;
}