.nav-bar{
    z-index: 10;
}
.container-fluid{
    background-color: #f4f6ff;
}
/* .nav-bar a:link, .nav-bar a:visited{
    text-decoration: none;
    color: #f6f1ee;
}  */
a:link, a:visited{
    color:#6471b3;
    font-family: 'Inconsolata', monospace;
}
.main-content{
    padding-top: 10em;
    padding-bottom: 8em;
    background-color: #f4f6ff;
    margin-bottom: 5em;
}
.title h1{
    font-family: 'Inconsolata', monospace;
    font-size: 4em;
    padding-bottom: 1rem;
    color: #3843d0;
}
.title{
   margin-left: 2em;
}
.main-content p{
    font-size:1.5em;
    color: #282828;
}
.main-content img{
    transform: rotate(3deg);
    z-index: 5;
}
#summary{
    text-align: center;
}
h1, h2, h3, h4{
    font-family: 'Inconsolata', monospace;
}
h4{
    text-decoration: underline;
    color:#15006d;
    padding-top:1em;
}
.page{
    color:#282828;
}
#description{
    text-align: center;
    margin-bottom: 3em;
}
#description .col-3{
    margin: 3em;
}
#card-sort img{
    height: 15em;
    width: 25em;
    position: relative;
    bottom:9em;
    box-shadow: 2px 2px 6px #929292;
}
.page p, h5, h6{
    font-family: 'Karla', sans-serif;
    color: #282828;
}
h5, h6{
    margin: 1em 1em 1em 0em;
    padding-left: 1em;
    border-left: .3rem solid #3843d0;
    color:#282828;;
}
#survey img{
    position: relative;
    bottom:1em;
    height: 12em;
    width:25em;
    box-shadow: 2px 2px 6px #929292;
}
#insight-desc, #biometrics, #uses, #reliability,
 #apply-desc, #story-map, #feature-desc{
    margin-top: 4em;
}

.personas{
    height: 12em;
    width:  25em;
    margin-top:1.5em;
}
.persona-desc{
    margin-top: 3em;
}
.maps{
    height:15em;
    width: 30em;
    margin-bottom:3em;
}
#paper-sketch{
    height: 14em;
    width: 18em;
    position: relative;
    top: 1em;
    right: 1em;
}
#lofi-2{
    height: 17em;
    width: 23em;
    position: relative;
    bottom: 3em;
    left: 8em;
}
#lofi-3{
    height: 15em;
    width: 20em;
    position: relative;
    bottom: 10em;
    right:4em;
}
#color-block{
    background-color: #8fa1ff;
    height: 30em;
    width:25em;
    position: relative;
    left: 4em;
    top: 3em;
}
#color-block2{
    background-color: #8fa1ff;
    height:23em;
    margin-top:2em;
    margin-bottom: 6em;
}
#mid-fid{
    width: 45em;
    position:relative;
    bottom:2em;
    left: 1em;
}
#mid-fid1{
    width:45em;
    position:relative;
    left: 42em;
    bottom:16em;
}
ul{
    list-style-type: none;
}

.sticky{
    height:15em;
    width:15em;
    margin-bottom:2em;
    margin-left:6em;
}
#color-block3{
    background-color: #8fa1ff;
    height:23em;
    margin-top:3em;
    margin-bottom: 6em;
}
#mid-fid2{
    width: 40em;
    position:relative;
    bottom:4em;
    left: 1em;
}
#mid-fid3{
    width:45em;
    position:relative;
    /* bottom:10em; */
}
#wrap-up{
    padding-bottom: 5em;
}
